.navbar-toggler-icon{
	background-image:url(icons/drop.svg)!important;
}
.navbar-toggler{
	border:0;
}

.navbar-text{
	font-family: Noe Display;
}

.navbar{
	background-color: transparent !important;
}


.navbar-nav{
	background-color: transparent;
}