.navbar-toggler-icon{
	background-image:url(icons/drop.svg)!important;
}
.navbar-toggler{
	border:0;
}

.navbar-nav{
	font-family: Lato 700;
	background-color: transparent !important;
}
.navbar-item{
	font-family: Lato 700;
	background-color: transparent !important;
}