.navbar-toggler-icon{
	background-image:url(icons/drop.svg)!important;
}
.navbar-toggler{
	border:0;
}

.navbar-item , .navbar-nav , .navbar-light{
	font-family: Lato 700;
	background-color: transparent !important;
	margin: 0 auto !important;
	color:#242424;
	margin:0 auto;
}

.navbar{
	background-color:transparent !important;
	align-items: center;
	
}



