@font-face{
	font-family:"Noe Display";
	src ("fonts/NoeDisplay.otf");
}

body {
	background-color: #f1f1e1!important ;
    max-width:1920px;
	background:#f9f9e0;

	/*font-family"Noe Display""Avenir Next LT Pro"*/
}

h1,h2,h3,h4,h5,h6
{
	font-family: Noe Display;
	color:#242424;
	letter-spacing: 1px;
}

p,a {

	font-family: Lato;
}

.main-img{
	padding-top:90px;
}

.logo{
	font-family:Noe Display ;
	
	font-size: 20px;
	

}

.nav-header{
width: 90%;
    margin:40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 200;
}





