@font-face{
	font-family:"Noe Display";
	src ("fonts/NoeDisplay-Regular.otf");
}

body{
   background:#f9f9e0;
	margin:0;

	/*font-family"Noe Display""Avenir Next LT Pro"*/
}

h1,h2,h3,h4,h5,h6
{
	font-family: Noe Display;
	color:#242424;
	letter-spacing: 1px;
}

p,a{
	font-family: Lato;
}



