@font-face{
	font-family:"Noe Display";
	src ("fonts/NoeDisplay.otf");
}

body {
	background-color: #f1f1e1!important ;
    max-width:1920px;
	background:#f9f9e0;

	/*font-family"Noe Display""Avenir Next LT Pro"*/
}

h1,h2,h3,h4,h5,h6
{
	font-family: Noe Display;
	color:#242424;
	letter-spacing: 1px;
}

p,a {

	font-family: Lato;
}

.main-img{
	padding-top:110px;
}

.logo{
	font-family:Noe Display ;
	height: auto;
	font-size: 20px;
	position: relative;
	display: inline-block;
	width: 130px;
   
}

.nav-header{

	position: fixed;
	top:34px;
	left:0;
	width:100%;
	padding: 0 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    z-index: 9999;
}





